<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">
	<context:component-scan base-package="controller,dao,service,model">
		
	</context:component-scan>
	<mvc:annotation-driven></mvc:annotation-driven>
	<mvc:default-servlet-handler/>
	<mvc:resources location="/stati" mapping="/static"></mvc:resources>
	
	<!-- 防止未登录访问 -->
<!--   <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**" />
            <bean class=""/>
        </mvc:interceptor>
    </mvc:interceptors>-->
    <mvc:view-controller path="/" view-name="redirect:/"/>
	
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="WEB-INF/views/"></property>	
		<property name="suffix" value=".jsp"></property>		
	</bean>
	
	<!-- springMVC 文件上传 
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="40960000"/>
        <property name="maxInMemorySize" value="40960000"/>
    </bean>-->
    
    <!-- AOP注解开启配置 -->
     <aop:aspectj-autoproxy/>

    <!-- 拦截器 -->
  <!--  <mvc:interceptors>
         多个拦截器，顺序执行 
     <mvc:interceptor>
            <mvc:mapping path="/project.getAgentList" />
            <mvc:mapping path="/project.sign" />
            <mvc:mapping path="/project.getSignRecords" />
            <mvc:mapping path="/project.uploadVisitReocrd" />
            <mvc:mapping path="/project.getCustomer" />
            <mvc:mapping path="/project.getVisitRecords" />
            <bean class="com.sc.tradmaster.utils.MachineCheckLoginTokenInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors> -->
</beans>
